.container {
    background-image: url(../../images/pokeball.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 200px;
    height: 200px;
    padding: 10px;
    box-shadow: 6px 6px 4px rgba(0, 0, 0);
    border-radius: 0px 20px 0px 20px;
}
  
.container h3 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
}
  
.types {
    display: flex;
    width: 5em;
    flex-direction: column;
    align-items: left;
    margin-right: 10px;
}
  
.type {
    display: flex;
    justify-content: center;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #fff;
    border-radius: 20px;
    padding: 2px 10px;
}
  
.link {
    font-size: 14px;
    color: #000;
    text-decoration: none;
}
  
.image {
    display: grid;
    width: 100%;
    position: relative;
    bottom: 60px;
    left: 40px;
    transition: all 0.3s ease-in-out;
}
.image:hover {
    width: 220px;
}

.grass .type {
    background-color: #1ebe1e;
}
.water .type {
    background-color: #1e9ebe;
}
.fire .type {
    background-color: #eb7d24;
}
.ground .type {
    background-color: #be7e1e; 
}
.bug .type {
    background-color: #93be1e; 
}
.normal .type {
    background-color: #535353; 
}
.flying .type {
    background-color: #b6b6b6; 
}
.poison .type {
    background-color: #761ebe; 
}
.electric .type {
    background-color: #fff000; 
    color: #000;
}
.fairy .type {
    background-color: hsl(332, 100%, 80%); 
    color: #000;
}
.fighting .type {
    background-color: #9e0000; 
}
.psychic .type {
    background-color: #7d6a9b; 
}
.rock .type {
    background-color: #333333; 
}
.ghost .type {
    background-color: #383838b6; 
}