.container {
    display: flex;
    align-items: center;
    background-color: rgb(237, 28, 36);
}
.container button {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    font-family: 'Exo2-Regular';
    font-weight: 900;
    margin-left: 40px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.container button:hover {
    background-color: rgb(124, 13, 17);
    color: #fff;
}

.buttonContainer {
    display: flex;
    margin-left: auto;
    margin-right: 80px;
}

.image {
    width: 12vw;
    margin: 20px;
}